<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="apicheck_addressvalidation_checkout_layout_processor" type="ApiCheck\AddressValidation\Plugin\Model\Checkout\LayoutProcessorPlugin" sortOrder="100"/>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="address_validation_config" xsi:type="string">ApiCheck\AddressValidation\CustomerData\AddressValidationConfig</item>
            </argument>
        </arguments>
    </type>
</config>
